@media (max-width:480px) {
    .productos .pro-fondo img {
        max-width: 90vw;
    }

    .productos .pro-fondo {
        top: -2em;
    }

    .bg1 video {
        width: 70vw;
    }

    nav .navbar-brand img {
        height: auto;
        width: 100%;
    }

    .productos .pro .col-4,
    .productos2 .pro2 .col-4 {
        width: 80vw;
    }

    .productos .pro .card .ct .card-title,
    .productos2 .pro2 .card .ct .card-title {
        width: 62vw;
    }

    .productos2 .pro2 .card2 .ct {
        left: 9px !important;
    }

    .modal-window h1 {
        font-size: 1.5rem;
    }
}