@media (max-width:320px) {
    nav .navbar-brand img {
        width: 100%;
    }
    .bg1 video {
        width: 80vw;
    }
    .bg1 .row .somos {
        width: 80vw;
    }

    .bg2 .cuadro .raya{
        top: 65px;
    }
    .productos .pro-fondo img {
        top: 130px;
        width: 80vw;
    }
    .productos .pro .card .ct .card-title,
    .productos2 .pro2 .card .ct .card-title{
        max-width: 135px;
    }
    .productos .pro-fondo .cuadro {
        right: 24%;
        top: 224px;
    }
}