@media (max-width:1024px) {
    .productos2 .pro2 .card2 .ct {
        left:60px !important;
    }
    nav {
        height: auto;
    }
    nav .navbar-brand img {
        max-width: 100vw;
    }
    .productos .pro-fondo img {
        max-width: 60vw;
    }
}